###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

# IDE configuration
/.idea

# Assets and user uploads
/public/assets/
/public/build/
/public/media

# PHPUnit
/phpunit.xml

/data

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
